#maquette2{
	background-color: #ded8d7;
	width: 80%;
	height: 20%;
	margin-left: 10%;
}


h1{
 	text-align: center;
 }
 .navigation1{
	display: grid;
	grid-template-columns: 15% 25% 15% 15%;
	margin-left: 20%;
	margin-top: 3%;
	font-size: 70%;
	margin-bottom: 5%;
}
#nav{
	width: 100%;
}
.image11{
	display: grid;
	grid-template-columns: 22% 22% 22% 23%;
	margin-left: 10%;


}
#img11{
	width: 100%;
	height: 100%;
}
.image22{
	display: grid;
	grid-template-columns: 22% 22% 22% 23%;
	margin-left: 10%;
	margin-top: 0%;
}
#img22{
	width: 100%;
	height: 100%;
}

h3{
	text-align: center;
	margin-top: 02%;
}
p{
	text-align: ce;
}
