.navigation{
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% ;
	margin-left: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	text-align: center;
}
#nav1{
	margin-left: 50%;
	margin-right: 20%;
}
.folder{
	text-align: center;
}

#img1{
	width: 75% ;
	height: 65%;
}
#img2{
	position: absolute;
	top: 20%;
	right: 40%;
	width: 15%;
	height: 18%;
	border-radius: 20px;
}
#paragraphe{
	position: absolute;
	color: white;
	background-color: black;
	border: 3px solid black;
	top: 38%;
	right: 35%;
	width: 25%;
	height: 5%;
	font-size: 160%;
	text-align: center;
	margin-left: 20%;
}
#presentation{
	position: absolute;
	color: white;
	top: 48%;
	right: 33%;
	width: 28%;
	font-size: 90%;
	text-align: center;
}

.folder{
	top: 60%;
}

.folder1{
    padding-right: 2%;
	text-align: center;
}

#programmation{
	width: 70px;
	height: 70px;
	text-align: center;
	border: 1px solid blue;
	border-radius: 50%;
	padding: 20px;
	margin-top: 4%;
	margin-right: 9%;
	}
#design{
	width: 70px;
	height: 70px;
	border: 1px solid blue;
     border-radius: 50%;
	padding: 20px;
	margin-right: 8%;
	margin-top: 4%;
}
#marketing{
	width: 70px;
	height: 70px;
	border: 1px solid blue;
	border-radius: 50%;
	padding: 20px;
	margin-right: 1%;
}
.description{
	margin-top: 1%;
	display: grid;
	grid-template-columns: 20% 20% 20%;
	font-size: 90%;
	text-align: center;
	margin-left: 25%;
}
#design{
	font-size: 90%;
	align-content: center;
}
#mrkting{
	margin-left: 20%;
	font-size: 90%;
	width:80%;
	text-align: center;
}


#maquette2{
	background-color: #ded8d7;
	width: 80%;
	height: 20%;
	margin-left: 10%;
	margin-top: 05%;
	padding-top: 2%;
}

h1{
 	text-align: center;
 }
 .navigation1{
	display: grid;
	text-align: center;
	grid-template-columns: 05% 30% 25% 20%;
	margin-left: 20%;
	margin-top: 4%;
	size: 40%;
	margin-bottom: 5%;
}
#nav1{
	width: 100%;
	font-size: 100%;
}
.image11{
	display: grid;
	grid-template-columns: 22% 22% 22% 23%;
	margin-left: 10%;


}
#img11{
	width: 100%;
	height: 100%;
}
.image22{
	display: grid;
	grid-template-columns: 22% 22% 22% 23%;
	margin-left: 10%;
	margin-top: 0%;
}
#img22{
	width: 100%;
	height: 100%;
}

h3{
	text-align: center;
	margin-top: 02%;
}
#bakeli{
	text-align: center;
	width: 40%;
	margin-left: 30%;
	margin-bottom: 2%;
}
.section1{
	display: inline;
 }   	
.pratique{
	margin-left: 20%;
    padding-right: 10px;
    font-size#":100%;
    word-spacing: 250px;
    float: left;

 }    
#pratique{
	margin-left: 20%;
	 padding-right: 10px;
	 width: 20%;
	 float: left;
}
.opportunites{
	display: block;
    font-size:100%;
    word-spacing: 250px;
    float: right;
    margin-right: 20%;
}
#opportunites{
	width: 20%;
	float: right;
	margin-right: 20%;
}

.insertion{
	margin-left: 20%;
    padding-right: 10px;
    font-size:100%;
    word-spacing: 200px;
    float: left;
 }    
#insertion{
	margin-left: 20%;
	 padding-right: 10px;
	 width: 20%;
	 float: left;
}
.autre{
	display: block;
    font-size:100%;
    word-spacing: 250px;
    float: right;
    margin-right: 22%;
}
#autre{
	width: 20%;
	float: right;
	margin-right: 20%;
}
#presentation2{
 	text-align: center;
 	margin-top: 8%;
 	background-color: #9ABA80;
 	padding-top: 4%;
 	margin-left: 10%;
 	margin-right: 10%;
 	padding-bottom: 5%;
 }
 #pres{
 	width: 40%;
	margin-left: 35%;
	font-size: 150%;
 }
#icone{
	display: grid;
	grid-template-columns: 22% 22% 22% 23%;
	margin-left: 15%;
	margin-right: 5%;
	margin-top: 5%;
}
#personne{
	height: 100%;
	width: 90%;
}
#nom{
	display: grid;
	grid-template-columns: 23% 23% 22% 23%;
	margin-left: 15%;
	margin-right: 16% ;
	height: 8%;
	padding-bottom: 2%;
}
#name1{
	background-color: white;
	margin-top: 0px;
	padding-top: 7%;
	font-size: 120%;

}
#name2{
	background-color: white;
	margin-left: 11%;
	width: 100%;
	margin-top: 0%;
	padding-top: 7%;
	font-size: 120%;

}
#name3{
	background-color: white;
	margin-left: 23%;
	width: 104%;
	margin-top: 0%;
	padding-top: 7%;
	font-size: 120%;
}
#name4{
	background-color: white;
	margin-left: 37%;
	width: 105%;
	margin-top: 0%;
	padding-top: 7%;
	font-size: 120%;
}
#imgvolkeno{
	margin-left: 45%;
	margin-top: 2%;
}
#baspage{
	text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-top: 02%;
	font-size: 150%;
 }
#baspage2{
	text-align: center;
	margin-top: 05%;
	font-size: 130%;
	font-weight: bold;
}
#contact{
	background-color: #DEE4D9;

	padding-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
	
}
#contact1{
	display: grid;
	grid-template-columns: 30% 30% 30% 30%;
	margin-left: 15%;
	margin-right: 21%;
	font-size: 22px;
	grid-template-rows: 30% 30% 30% 30%;
}
#contact2{
	width: 68%;
	height: 10%;
}
#contactezns{
	padding-top: 1%;
	padding-bottom: 2%;
	font-size: 30px;
}
h6{
	font-size: 80%;
	margin-top: 5%;
	text-align: center;
	padding-bottom: 4%; 
}